body {
  background-color: lightgray;
}

/* grabbing element by id */

/* #logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
} */

header > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.yellow {
  background-color: yellow;
}

p.yellow {
  font-style: italic;
}

a:hover {
  font-size: xx-large;
  color: firebrick;
}

main {
  text-align: center;
}

a {
  margin: 0 15px;
}

nav {
  position: absolute;
  right: 50px;
  top: 75px;
}